# Microframework for Python
# http://flask.pocoo.org/
Flask==0.12.2

# WSGI for Python
# http://uwsgi-docs.readthedocs.io/en/latest/index.html
uWSGI==2.0.15

# Redis Python Client for Flask-Session
# https://github.com/andymccurdy/redis-py
redis==2.10.5
